#Pools {
    .pool-card {
        .avatar-multi img {
            width: 5rem;
            height: 5rem;
        }
    }
    .coming-soon-buttons, .authorize-buttons {
        margin-top: 44px;
    }
}