// Buttons
.btn-block{
    width: 100%;
}

// Cards
.card {
    .card-title {
        display: flex;
        align-items: center;
    }
    .card-title .mdi {
        margin-right: 10px;
    }
    .amount-total-value, .pool-apy-value {
        font-size: 240%;
    }
}

// Modals
.modal {
    form {
        .input-group-text {
            padding-top: 2px;
            padding-bottom: 2px;
            .mdi {
                font-size: 200%;
                margin-right: 5px;
                color: #fff;
            }
        }
        .max-balance-wrapper {
            padding: 2px 0;
        }
    }
}



// Header
.navbar-header a {
    display: table-cell;
    vertical-align: middle;
}
.logo {
    font-size: 1.5rem;
    color: #fff;
}

