
// Cards
.card {
    .card-title {
        display: flex;
        align-items: center;
    }
    .card-title .mdi {
        margin-right: 10px;
        // vertical-align: middle;
    }
}


// Header
.navbar-header a {
    display: table-cell;
    vertical-align: middle;
}
.logo {
    font-size: 1.5rem;
    color: #fff;
}

