/* Colors */
$paleYellow: #ffdb67;
$paleGreen: #2fc199;
$paleBlue: #82d0f0;
$lightSea: #2d5b6e;
$midSea: #203A43;
$darkSea: #0F2027;
$intenseBlue: #2a3042bf;
$blueBigFoot: #262b3c;
$yellowBigFoot: #f0b90b;