


@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins.scss";



/* Colors */
$lightSea: #2d5b6e;
$midSea: #203A43;
$darkSea: #0F2027;
$yellowBigFoot: #f0b90b;



/* Grid System */

// equal height cards
.row.equal-height {
    > [class^='col-'] {
        padding-bottom: 24px;
    }
    .card {
        height: 100%;
        .card-body{
            padding-bottom: 0;
        }
    }
}


/* Buttons */
.btn-block{
    width: 100%;
}
.btn-primary, .btn-primary:hover {
    color: #213c46;
    font-weight: bold;
}

/* Cards */
.card {
    background-color: #2a3042bf;
    .card-title {
        display: flex;
        align-items: center;
    }
    .card-title .mdi {
        margin-right: 10px;
    }
    .total-value, .pool-stats-value {
        font-size: 240%;
    }
}


/* Modals */
.modal {
    form {
        .input-group-text {
            padding-top: 2px;
            padding-bottom: 2px;
            min-width: 6rem;
            .mdi {
                font-size: 200%;
                margin-right: 5px;
                color: #fff;
            }
        }
        .max-balance-wrapper {
            padding: 2px 0;
        }
    }
}

/* Avatar */
.avatar-title{
    width: auto;
    img {
        width: 2rem;
        height: 2rem;
        label & { // imgs inside a label
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
.avatar-multi {
    flex-grow: 1;
    text-align: center;
    .avatar-title {
        display: inline-flex; 
        width: 2rem;
        &:not(:first-child) {
            margin-left: -0.5rem;
        }
    }
}



/* Body */
body {
    background: $darkSea;
    background: -webkit-linear-gradient(to bottom, $lightSea, $midSea, $darkSea);
    background: linear-gradient(to bottom, $lightSea, $midSea, $darkSea);    
}


/* Header */
.navbar-header {
    .navbar-brand-box {
        display: flex;
        padding-right: 0;
    }
    a {
        display: table-cell;
        vertical-align: middle;
    }
}
.logo {
    font-size: 1.5rem;
    color: #fff;
    &:hover {
        color: #fff;
    }
    svg {
        width: 27px;
        height: 44px;
        fill: $yellowBigFoot;
    }
}
#powered-by {
    display: none;
    @include media-breakpoint-up(lg) {
        display: inline !important;
        margin-left: 0.8rem;
        font-size: 0.9rem;
        color: #fff;
        font-style: italic;
        line-height: 74px;
        &:hover {
            color: $yellowBigFoot;
        }
    }
}
.topnav {
    background-color: rgba(42, 48, 65, 0.90) !important;
}

/* Main Content */
.main-content {
    padding-bottom: 25px;
}

/* Footer */
.footer{
    background-color: unset;
    height: 105px;
    #social {
        a {
            margin: 0 5px;
            font-size: 24px;
            svg {
              fill: #f0b90b;
              &:hover {
                fill: #c09409;
              }
            }
        }
    }
}