/* Grid System */

// equal height cards
.row.equal-height {
    [class^='col-'] {
        padding-bottom: 24px;
    }
    .card {
        height: 100%;
        .card-body{
            padding-bottom: 0;
        }
    }
}


/* Buttons */
.btn-block{
    width: 100%;
}

/* Cards */
.card {
    .card-title {
        display: flex;
        align-items: center;
    }
    .card-title .mdi {
        margin-right: 10px;
    }
    .total-value, .pool-apy-value {
        font-size: 240%;
    }
}

/* Modals */
.modal {
    form {
        .input-group-text {
            padding-top: 2px;
            padding-bottom: 2px;
            min-width: 6rem;
            .mdi {
                font-size: 200%;
                margin-right: 5px;
                color: #fff;
            }
        }
        .max-balance-wrapper {
            padding: 2px 0;
        }
    }
}

/* Avatar */
.avatar-multi {
    flex-grow: 1;
    text-align: center;
    .avatar-title {
        display: inline-flex; 
        width: 2rem;
        &:not(:first-child) {
            margin-left: -0.5rem;
        }
    }
}


/* Header */
.navbar-header a {
    display: table-cell;
    vertical-align: middle;
}
.logo {
    font-size: 1.5rem;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
