@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins.scss";


//partials
@import './variables.scss';

//other imports
@import './toasts.scss';



/* Grid System */

// equal height cards
.row.equal-height {
    > [class^='col-'] {
        padding-bottom: 24px;
    }
    .card {
        height: 100%;
        .card-body{
            padding-bottom: 0;
        }
    }
}


/* Buttons */
.btn-block{
    width: 100%;
}
.btn-primary, .btn-primary:hover {
    color: #213c46;
    font-weight: bold;
}

/* Cards */
.card {
    background-color: #2a3042bf;
    &.card-loading{
        &::after{
            content: '';
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 1rem;
            height: 1rem;
            border-width: 0.2em;
            display: inline-block;
            vertical-align: text-bottom;
            border: 0.25em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            animation: 0.75s linear infinite spinner-border;
        }
    }
    .card-title {
        display: flex;
        align-items: center;
    }
    .card-title .mdi {
        margin-right: 10px;
    }
    .total-value {
        font-size: 340%;
    }
}


/* Modals */
.modal {
    form {
        .input-group-text {
            padding-top: 2px;
            padding-bottom: 2px;
            min-width: 6rem;
            .mdi {
                font-size: 200%;
                margin-right: 5px;
                color: #fff;
            }
        }
        .max-balance-wrapper {
            padding: 2px 0;
        }
    }
    .wallet-selector {
        text-align: center;
        .wallet-connector{
            font-size: 1.5rem;
            width: 100%;
            background: #fff;
            margin-bottom: 2rem;
            border: none;
            img{
                display: block;
                height: 200px;
                width: auto;
                margin: 1rem auto;
                padding: 1rem 2rem;
            }
            &:hover {
                background: #f1e3b9;
            }
        }
    }
}

/* Avatar */
.avatar-title{
    width: auto;
    img {
        width: 2rem;
        height: 2rem;
        label & { // imgs inside a label
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
.avatar-multi {
    flex-grow: 1;
    text-align: center;
    .avatar-title {
        display: inline-flex; 
        width: 2rem;
        &:not(:first-child) {
            margin-left: -0.5rem;
        }
    }
}



/* Body */
body {
    background: $darkSea;
    background: -webkit-linear-gradient(to bottom, $lightSea, $midSea, $darkSea);
    background: linear-gradient(to bottom, $lightSea, $midSea, $darkSea);    
}


/* Header */
.navbar-header {
    .navbar-brand-box {
        display: flex;
        padding-right: 0;
    }
    a {
        display: table-cell;
        vertical-align: middle;
    }
}
.logo {
    font-size: 1.5rem;
    color: #fff;
    &:hover {
        color: #fff;
    }
    svg {
        width: 27px;
        height: 44px;
        fill: $yellowBigFoot;
    }
}
#powered-by {
    display: none;
    @include media-breakpoint-up(lg) {
        display: inline !important;
        margin-left: 0.8rem;
        font-size: 0.9rem;
        color: #fff;
        font-style: italic;
        line-height: 74px;
        &:hover {
            color: $yellowBigFoot;
        }
    }
}
.topnav {
    background-color: rgba(42, 48, 65, 0.90) !important;
}

/* Main Content */
.main-content {
    padding-bottom: 25px;
}

/* Footer */
.footer{
    background-color: unset;
    height: 105px;
    #social {
        a {
            margin: 0 5px;
            font-size: 24px;
            svg {
              fill: #f0b90b;
              &:hover {
                fill: #c09409;
              }
            }
        }
    }
}
