#Farms {
    .farm-card {
        .farm-icon {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            .avatar-multi img {
                width: 5rem;
                height: 5rem;
            }
        }
        .farm-stats {
            margin-top: 2rem;
            margin-bottom: 0.5rem;
            .farm-stats-value {
                font-size: 160%;
            }
        }
    }
    .authorize-buttons {
        margin-top: 44px;
    }
}